services:
  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - code_world_bagel

  nuxt:
    build:
      context: ./web
      dockerfile: Dockerfile
    restart: always
    expose:
      - "3000"
    networks:
      - code_world_bagel

networks:
  code_world_bagel:
    name: code_world_bagel
